$mainLightColor: #fbebb5;

$mainDarkcolor: #c7af62;

$activeText: #715b13;

$blueColor: #1452d7;

$contaierGrayColor: #f5f5f5;

$textGrayColor: #939393;

// main button colors
$mainBtnHoverColor : #c8a120;
$mainBtnActiveColor : #91761e;

// dark button colors
$darkBtnBackground : #212529;
$darkBtnHoverColor : #424649;
$darkBtnFocusColor : $darkBtnHoverColor;
$darkBtnActiveColor : #4d5154;
