/*
  Index
    11. Public style
    51. navbar
    84. header
    137. our story
    153. intro
    170. contact box
    105. features
    267. footer
*/

/* Start public style */
:root {
  --main-color: #fbebb5;
  --main-color-dark: #c7af62;
  --blue-color: #1452d7;
  --gray-color: #f5f5f5;
}

.text-active {
  color: #715b13;
}

.text-active:hover {
  color: #715b13;
}

.custom-btn {
  background-color: var(--main-color-dark);
  color: #000;
  outline: none;
}

.custom-btn:hover {
  background-color: #c8a120;
}

.custom-btn:active {
  background-color: #91761e !important;
  color: #fff !important;
  outline: none;
}

.title {
  font-size: 30px;
  font-weight: 700;
  font-family: Poppins;
  color: var(--main-color-dark);
}
/* End public style */

/* Start navbar */
.nav-bar {
  background-color: var(--main-color);
  z-index: 1;
}

nav ul li div {
  position: absolute;
  height: 2px;
  width: 0px;
  bottom: 0;
  background-color: var(--main-color-dark);
  transition: 0.3s;
}

nav ul li:hover div {
  width: 100%;
}

.nav-bar #search-box {
  border-radius: 7px;
  height: 35px;
  width: 350px;
  border: solid 1px transparent;
  outline: none;
  transition: 1s;
}

.nav-bar #search-box:focus {
  border-color: var(--main-color-dark);
}
/* End navbar */

/* Start header */
header .landing {
  height: 348px;
  top: 56px;
}

header {
  background-color: var(--main-color);
  height: 100vh;
}

header .landing {
  height: calc(100% - 56px);
}

header .landing .landing-title span:first-child,
header .landing .landing-title span:last-child {
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

header .landing .landing-title span:first-child {
  font-size: 64px;
  max-width: 350px;
}

header .landing .landing-title span:last-child {
  font-size: 24px;
}

header .landing .landing-title span:last-child::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 1px;
  background-color: #000;
  bottom: 0;
}

header .landing img {
  width: 25rem;
}

header .landing .landing-slider .slider-control {
  font-weight: 500;
  font-size: 1.25rem;
}
/* End header */

/* Start our story */
.our-story p {
  color: #939393;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.our-story .images img {
  width: 45%;
  min-width: 313px;
  border-radius: 5px;
}
/* End our story */

/* Start intro text */
.intro .intro-text div {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
}

.intro .intro-text p {
  color: #9f9f9f;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  width: 644px;
}
/* End intro text */

/* Start contact box */
.contact-box {
  background-color: var(--main-color);
}

.contact-box .contact-info {
  max-width: 393px;
}

.contact-box .contact-info .info-card i {
  font-size: 22px;
}
.contact-box .contact-info .info-card .info-description div {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
}
.contact-box .contact-info .info-card .info-description p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  width: 212px;
}

.contact-box form textarea,
.contact-box form input {
  width: 30rem;
  height: 50px;
}

.contact-box form textarea {
  height: 120px;
}
/* End contact box */

/* Start features */
.features {
  background-color: var(--gray-color);
}

.features h1 {
  font-family: Poppins;
  color: #939393;
  font-size: 35px;
}

.features p {
  font-family: Poppins;
  color: #989898;
  max-width: 615px;
  text-align: center;
}

.features .features-box .one-feeature {
  margin-top: 30px;
  width: calc((100% / 3) - 60px);
  min-width: 272px;
  display: flex;
  gap: 10px;
}

.features .features-box .one-feeature i {
  background-color: #fff;
  color: var(--main-color-dark);
  border: 2px solid #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 20px;
  font-size: 35px;
  box-shadow: inset 0px 0px 0px 4px #f2f2f2;
  transition: 0.3s;
}

.features .features-box .one-feeature:hover i {
  color: #fff;
  background-color: var(--main-color-dark);
  border-color: var(--main-color-dark);
}

.features .features-box .one-feeature .feature-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.features .features-box .one-feeature .feature-text .title {
  font-size: 20px;
  font-weight: 600;
  color: #616161;
}

.features .features-box .one-feeature .feature-text .description {
  color: #bdbdbd;
}
/* End features */

/* Start footer */
footer .links .container::before {
  content: "";
  position: absolute;
  background-color: var(--main-color-dark);
  width: 100%;
  height: 1px;
  bottom: 0;
}

footer .links div div:first-child {
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

footer .links ul li {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

footer .links ul li:first-child {
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

footer .links ul li input {
  border: none;
  border-bottom: solid 2px;
  border-bottom-color: var(--main-color-dark);
  outline: none;
  transition: 0.3s;
}

footer .links ul li input:focus {
  border-bottom-color: #91761e;
}

footer .copy-right {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
/* End footer */
